#blo{
    background-color: red;
    height: 80px;
    widows: 100px;
    font-size: 25ox;
    border: dotted;
    border-radius: 25px;
    color: aliceblue;
}
#room_name{
    width:250px;
    height: 30px
}